---
name: CI (main)
# This workflow is triggered on pushes to main and runs tests and performs the release steps

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build-test-publish:
    name: "Build, test, publish"
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/ci_common.yml
    with:
      release: true
    secrets:
      AZDO_TOKEN: ${{ secrets.AZDO_TOKEN }}
